---
---

$theme-color: {{ site.color.theme }};
$bg-color: {{ site.color.bg }};

@import "general.scss";

.container {
    text-align: left;
}
.centered, .footer .container {
    text-align: center;
}
.size-limit {
    max-width: 80%;
}
