---
---

$theme-color: {{ site.color.theme }};
$bg-color: {{ site.color.bg }};

@import "general.scss";
@import "button.scss";
@import "fullscreen.scss";
@import "lang.scss";
@import "score.scss";


.blink {
    animation-duration: 0.8s;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    51% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
