body {
    background-color: #eee;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
}
a {
    color: #d32f2f;
}

.footer {
    margin-top: 10em;
}

.container {
    margin: 3em auto;
    width: 800px;
    text-align: center;
}

.btn.btm {
    margin-top: 1em;
    width: 100%;
}
.btn {
    cursor: pointer;
    display: inline-table;
    width: 49%;
    /*width: 100%;*/
    background-color: #d32f2f;
    color: white;
    border-radius: 1em;
    font-size: 3em;
    height: 1.5em;
    text-align: center;
    margin-bottom: 0.5em;
}
.btn > span {
    display: table-cell;
    vertical-align: middle;
}
.btn.scr {
    cursor: default;
    display: inline-block;
}
.btn.scr > span {
    cursor: pointer;
    width: 19%;
    display: inline-block;
    height: 100%;
    font-size: smaller;
    padding-top: 0.25em;
}

.btn.scr > span.border {
    border-right: #eee 2px solid;
    border-left: #eee 2px solid;
}
.btn.scr > input {
    width: 20%;
    margin: 0;
    padding: 0;
    height: 100%;
    display: inline-block;
    position: relative;
    vertical-align: top;
    border: none;
    font-size: 1em;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .btn {
        width: 100%
    }
    .container {
        width: 100%;
    }
}

.blink {
    animation-duration: 0.8s;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    51% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}


.fullscreenify {
    white-space: nowrap;
    display: inline-block
}
.fullscreenify.vertical {
    height: 100%;
    writing-mode: vertical-rl;
    text-orientation: sideways;
}

.fullscreen-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    background-color: #eee;
}
.fullscreen-bg input {
    margin-top: 0em;
    text-align: center;
    border: none;
    font-size: 3em;
    width: 100%;
}
.fullscreen-bg .fullscreen-close, .fullscreen-bg .fullscreen-undo {
    position: fixed;
    left: 0.1em;
    font-size: 3em;
    height: 1.5em;
    width: 1.5em;
    color: #d32f2f;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}
.fullscreen-bg .fullscreen-close {
    top: 0.1em;
}
.fullscreen-bg .fullscreen-undo {
    bottom: 0.1em;
}

input.lang {
    display: none;
}
input[type="radio"].lang+label img {
    height: 0.5em;
    border: 3px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
}
input[type="radio"].lang:checked+label img{
    border-color: #d32f2f;
}

/* Hide HTML5 Up and Down arrows. */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
