<span onclick="showFullscreenCanvas();" class="btn" style="font-family: 'Cookie', Helvetica, sans-serif;">
    <span>DRAW</span>
</span>
<span onclick="showFullscreenInput();" class="btn" style="font-family: 'monospace';">
    <span>TYPE<span class="blink">|</span></span>
</span>
<h1>RANDOM WORD
    <span style="white-space: nowrap">
        <input class="lang" type="radio" name="lang" id="lang-en" value="en" checked=""/><label for="lang-en"><img src="img/en_flag.svg" alt="en"/></label><input class="lang" type="radio" name="lang" id="lang-si" value="si"/><label for="lang-si"><img src="img/si_flag.svg" alt="si"/></label>
    </span>
</h1>
<span onclick="showRandomWord('unique');" class="btn" style="font-family: 'serif';">
    <span>UNIQUE</span>
</span>
<span onclick="showRandomWord('alias');" class="btn" style="font-family: 'serif';">
    <span>ALIAS</span>
</span>
<h1> SCORE </h1>
<span class="btn scr">
    <span onclick="changeScore(-5, event);">–5</span><span onclick="changeScore(-1, event);" class="border">–1</span><input type="number" value="0"><span onclick="changeScore(1, event);" class="border">+1</span><span onclick="changeScore(5, event);">+5</span>
</span>
