<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Maks Kolman">
    <link rel="shortcut icon" type="image/png" href="{{ 'img/logo_256.png' | relative_url }}"/>
    <title>{{ site.title }}</title>
    <link href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ page.style | relative_url }}">
    <!-- PWA manifest -->
    <link rel="manifest" href="{{ 'manifest.json' | relative_url }}">
    <!-- Add iOS meta tags and icons -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Weather PWA">
    <link rel="apple-touch-icon" href="{{ 'img/logo_152.png' | relative_url }}">
    <!-- Address bar theme-color -->
    <meta name="theme-color" content="{{ site.color.theme }}" />
    <!-- Sharing properties -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ site.title }}" />
    <meta property="og:image" content="{{ site.sharing.img | absolute_url }}" />
    <meta property="og:description" content="{{ site.sharing.description }}" />
    <meta name="description" content="{{ site.sharing.description }}">
    <!-- Google analytics -->
    <script async="" src="https://www.google-analytics.com/analytics.js"></script>
</head>
