.btn {
    cursor: pointer;
    display: inline-table;
    width: 49%;
    background-color: $theme-color;
    color: white;
    border-radius: 1em;
    font-size: 3em;
    height: 1.5em;
    text-align: center;
    margin-bottom: 0.5em;
    &.btm {
        margin-top: 1em;
        width: 100%;
    }
    > span {
        display: table-cell;
        vertical-align: middle;
    }
}

@media screen and (max-width: 800px) {
    .btn {
        width: 100%
    }
}
